= table_tag do
  %tr
    %th Category
    %th Name
    %th Description
    %th Price
    %th Quatity
    %th Enabled
    %th
  - @products.each do |product|
    %tr
      %td= product.category&.name
      %td= product.name
      %td= product.description
      %td= product.price
      %td= product.quatity
      %td= status_tag(product.enabled)
      %td.text-right
        - if can? :update, Product
          = link_to 'Edit', edit_product_path(product), class: 'btn btn-primary'
        - if can? :read, Product  
          = link_to 'Show', product_path(product), class: 'btn btn-info'
        - if can? :destroy, Product  
          = link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
